.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #e8eaf6;
  h1 {
    font-size: 44px;
    color: #333;
  }
}
